@import "tailwindcss";

@theme {
  --color-dark: #282A3E;
  --color-blue: #7BBAF4;
  --color-beige: #CDC6AE;
  --color-green: #0A8754;
  --color-deepgreen: #004F2D;
  --color-muted: #ececf0;
  --color-background: #ffffff;

}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

html, body {
  @apply scroll-smooth text-dark text-blue text-beige text-green text-deepgreen;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

@utility text-glow {
  @apply relative;
  text-shadow: 0 0 10px rgba(167, 139, 250, 0.5);
}